
.llamada  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--background-blanco);
    text-align: center;
    background-color: var(--background-llamada-mobile);
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.llamada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    
}

.llamada__texto {
    font-size: 1.25rem;
    line-height: normal;
    margin-bottom: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.llamada__boton {
    border-color: var(--boton-rojo);
}
