.sobre_nosotros{
    background-color:var(--background-blanco);
}
.sobre_nosotros__contenido{
    padding-right: 2rem;
    padding-left: 2rem;
}
.sobre_nosotros__texto{
    line-height: normal;
    padding-bottom: 1rem;
}
.sobre-nosotros__texto--destacado {
    font-weight: 700;
    color: var(--fuente-ceniza-claro);
}
.sobre_nosotros__plataformas{
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.sobre_nosotros__imagen{
    display: none;
}
